[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anyflights"]
	path = anyflights
	url = https://github.com/simonpcouch/anyflights
[submodule "detectors"]
	path = detectors
	url = https://github.com/simonpcouch/detectors
[submodule "gbfs"]
	path = gbfs
	url = https://github.com/simonpcouch/gbfs
[submodule "readmission"]
	path = readmission
	url = https://github.com/simonpcouch/readmission
